body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 40px;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    background: #22c55e;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

pre {
    margin-top: 30px;
    background: #020617;
    padding: 20px;
    text-align: left;
    border-radius: 10px;
}
